<div class="content">
    <div id="title" class="offset-1">
        <img src="../../../assets/utils/icons/aboutIcon.svg" alt="About us icon">
        <div>
            <p><span>//</span> 04 . ABOUT US</p>
            <h2>Our four executives</h2>
        </div>
    </div>
    <div class="body">
        <div id="text" class="col-9">
            Meet the team behind the project, Simon, Léo, Enzo, and Tanguy. These four partners met during their studies
            in Artificial Intelligence at Polytech Nantes engineering school and have come together to create a
            cutting-edge
            solution for traders. With their expertise in AI and passion for the financial industry, this team is poised
            to
            make a significant impact in the world of trading.
        </div>
        <div id="portraits">
            <div class="cards">
                <img src="../../../assets/utils/irl/simon.svg" alt="Simon Leboucher">
                <div class="nom">Simon Leboucher</div>
                <div class="job">Trading and Sales Advisor</div>
            </div>
            <div class="cards">
                <img src="../../../assets/utils/irl/leo.svg" alt="Léo Poinet">
                <div class="nom">Léo Poinet</div>
                <div class="job">Data Analyst</div>
            </div>
            <div class="cards">
                <img src="../../../assets/utils/irl/enzo.svg" alt="Enzo Sabino">
                <div class="nom">Enzo Sabino</div>
                <div class="job">Algorithmic Developer</div>
            </div>
            <div class="cards">
                <img src="../../../assets/utils/irl/tanguy.svg" alt="Tanguy Serrand">
                <div class="nom">Tanguy Serrand</div>
                <div class="job">Full Stack Developer</div>
            </div>
        </div>
    </div>
</div>