<div id="welcome">
</div>
<div id="banner">
    <p class="subtitle"><span>//</span>QUICK VIEW</p>
    <div id="infos">
        <h6 class="actif">AAPL</h6>
        <h6 class="actif">BTCUSD</h6>
        <h6 class="actif">CAC40</h6>
        <h6 class="actif">DEU40</h6>
    </div>
</div>
<section id="first-section">
    <div id="title">
        <img src="../../../assets/utils/icons/guidelinesIcon.svg" alt="Guidelines icon">
        <p class="subtitle" id="guidelines"><span>//</span>GUIDELINES</p>
        <h2>Our latest analytics</h2>
    </div>
    <div id="text">
        Our AI-powered trading assistance system is designed to provide accurate and personalized predictions for
        different
        financial assets. To enable you to quickly find the most relevant forecasts for your investment
        strategies,
        we have integrated an asset filtering function. You can easily select the assets you are interested in,
        such
        as currencies, stocks, or commodities, and instantly obtain corresponding forecasts for those assets.
    </div>
    <h2>Search for an asset</h2>
    <div id="search">
        <input type="text" class="form-control" placeholder="E.g. AAPL, TESLA" aria-label="Asset"
            aria-describedby="basic-addon1">
        <button id="go" type=" button" class="btn btn-dark">Go!</button>
    </div>
</section>
<section id="second-section">
    <div class="filtering">
        <h2>Try searching by filters</h2>
        <div id="filters" class="mat-elevation-z3">
            <h3>Asset Classes</h3>
            <div id="classes">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="stocks">
                    <label class="form-check-label" for="stocks">Stocks (all)</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="etfs">
                    <label class="form-check-label" for="etfs">ETFs</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="cryptos">
                    <label class="form-check-label" for="cryptos">Cryptos</label>
                </div>
            </div>
        </div>
    </div>
</section>